@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111015;
  color: white;
}

.heroh1 {
  font-size: 60px;
  color: white;
  text-decoration: bold;
  font-weight: bold;
}
main {
  background-color: #111015;
}
.heroparagraph {
  margin-top: 15px;
  color: white;
  font-size: 19px;
  max-width: 700px;
}
.hero-container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}
.herobutton {
  padding: 8px;
  padding-left: 22px;
  padding-right: 22px;
  background-color: #721eaa;
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 0px 92px 300px 23px rgba(0, 0, 114, 1);
  align-items: center;
}
.heroimage {
  filter: brightness(0) saturate(100%) invert(12%) sepia(17%) saturate(0%)
    hue-rotate(284deg) brightness(107%) contrast(82%);
  width: 900px;
  height: auto;
  margin-top: 5px;
}
.empty {
  border-radius: 20px;
  box-shadow: 0px 0px 210px 23px rgba(0, 0, 114, 1);
  margin-top: 30px;
  padding: 5px;
}
h2 {
  margin-top: 30px;
  color: white;
  font-size: 40px;
}
.features {
  margin-top: 60px;
  color: white;
  display: block;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}
.frgid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 120px;
  align-items: stretch;
  justify-content: stretch;
  align-content: stretch;
  justify-content: stretch;
}
.grids {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 22px;
  box-shadow: 0px 0px 21px 3px rgba(0, 0, 114, 1);
  font-size: 18px;
}
h3 {
  font-size: 25px;
  margin-bottom: 15px;
}
p {
  opacity: 70%;
}
.herobutton:hover {
  background-color: #5b2181;
}
footer {
  margin-top: 50px;
}
input[type="checkbox"] {
  opacity: 0;
}
